## 데이터 통합 및 변형 연습문제

- 데이터 통합, 멀티인덱스 기능 활용

#### 필요한 모듈 임포트

In [2]:
import numpy as np
import pandas as pd

#### 1. 공공데이터 포털 사이트(https://www.data.go.kr/) 에서 조건에 맞는 데이터 다운로드&저장
- 나주시, 서산시, 충주시의 최근에 등록된 주택보급률 데이터(csv파일)
    - 2010년~2024년12월
- 지역마다 업로드 일자가 다를 수 있음
- 다운로드 받은 데이터는 data폴더에 저장

#### 2. 데이터 파일(csv)을 읽어 데이터프레임으로 저장하기
: 데이터파일(csv)을 엑셀로 열어 구조를 확인하고, pandas 데이터프레임으로 저장

- 나주시 주택보급률

In [3]:
df_na1 = pd.read_csv('data/house/나주시_주택현황 및 보급률(2004~2020).csv', 
                     header=[0, 1,2],encoding='euckr')

In [3]:
df_na2 = pd.read_csv('data/house/나주시_주택현황 및 보급률_2021년.csv', encoding='euckr')

- 서산시 주택보급률

In [4]:
df_su1 = pd.read_csv('data/house/서산시_주택현황 및 보급률(2002~2007).csv', header=[0,1,2], encoding='euckr')

In [5]:
df_su2 = pd.read_csv('data/house/서산시_주택현황 및 보급률(2008~2012).csv', header=[0,1,2], encoding='euckr')

In [6]:
df_su3 = pd.read_csv('data/house/서산시_주택현황 및 보급률(2013~2022).csv', header=[0,1,2], encoding='euckr')

- 충추시 주택보급률

In [7]:
df_chu1 = pd.read_csv('data/house/충주시_주택현황 및 보급률(2003~2020).csv', header=[0,1,2], encoding='euckr')

In [8]:
df_chu2 = pd.read_csv('data/house/충주시_주택현황 및 보급률(2019~2021).csv', encoding='euckr')

#### 3. 생성한 데이터프레임을 하나의 데이터 프레임으로 통합하기 위한 형식으로 변형하기

In [11]:
df_na = df_na1['2004']
new_data = {
     ('주택수 (호)',   '단독주택_다가구주택'): [np.nan]
}
new_df = pd.DataFrame(new_data)
new_df
df_na = pd.concat([df_na.iloc[:, :3], new_df, df_na.iloc[:, 3:]], axis=1)
df_na.index = ['2004']
df_na

     가구수 (가구) 주택수 (호)                                               주택보급률 (%)
           소계      소계   단독주택 단독주택_다가구주택   아파트 연립주택 다세대주택 비거주용 건물내주택        소계
2004    40506   41522  33063        NaN  7204  497    96        662     102.5

In [12]:
for i in range(5, 10):
    df = df_na1['200'+str(i)]
    df.index = ['200'+str(i)]
    df_na = pd.concat([df_na, df], axis=0)
df_na

     가구수 (가구) 주택수 (호)                                               주택보급률 (%)
           소계      소계   단독주택 단독주택_다가구주택   아파트 연립주택 다세대주택 비거주용 건물내주택        소계
2004    40506   41522  33063        NaN  7204  497    96        662     102.5
2005    40506   41653  33178        NaN  7223  580    10        662     102.8
2006    41172   42626  32885        NaN  8345  494   206        696     103.5
2007    41277   43112  32856        2.0  8345  492   169       1250     104.4
2008    41000   42843  32834        7.0  8345  492   209        963     104.5
2009    40733   42889  32864       18.0  8345  492   217        971     105.3

In [13]:
for i in range(10, 21):
    df = df_na1['20'+str(i)]
    df.index = ['20'+str(i)]
    df_na = pd.concat([df_na, df], axis=0)
df_na

     가구수 (가구) 주택수 (호)                                                주택보급률 (%)
           소계      소계   단독주택 단독주택_다가구주택    아파트 연립주택 다세대주택 비거주용 건물내주택        소계
2004    40506   41522  33063        NaN   7204  497    96        662     102.5
2005    40506   41653  33178        NaN   7223  580    10        662     102.8
2006    41172   42626  32885        NaN   8345  494   206        696     103.5
2007    41277   43112  32856        2.0   8345  492   169       1250     104.4
2008    41000   42843  32834        7.0   8345  492   209        963     104.5
2009    40733   42889  32864       18.0   8345  492   217        971     105.3
2010    41284   42905  32830       34.0   8401  492   217        965     103.9
2011    40700   40993  31176     1282.0   8596  411   155        655     100.7
2012    40841   42622  32531      668.0   8685  492   330        584     104.4
2013    41274   47272  37066      817.0   9358  263   545         40     114.5
2014    42886   45041  32947     1518.0  10723  247   513        611     105.0
2015    46444   50030  32958     4060.0  14906  890  1276          -     107.7
2016    52007   56762  31080      256.0  23519  492   601       1070     109.1
2017    52303   55321  29558     2769.0  24093  556   482        632     105.8
2018    54872   58133  29650     3019.0  27001  307   539        636     105.9
2019    56090   58412  29840     3301.0  27134  291   539        608     104.1
2020    58025   59643  29587     3578.0  28612  291   539        614     102.8

In [14]:
df_na2

,연도,가구수,단독주택,다가구주택,아파트,연립주택,다세대주택,비거주용 건물내 주택,주택보급률,데이터기준일자
0,2021,59292,29952,3925,28612,291,539,609,108,2022-10-25

In [15]:
l_21 = [59292, np.nan, 29952, 3925, 28612, 291, 539, 609, 108]

In [16]:
df_na.loc['2021'] = l_21
df_na

     가구수 (가구)  주택수 (호)                                                         \
           소계       소계     단독주택 단독주택_다가구주택      아파트   연립주택   다세대주택 비거주용 건물내주택
2004  40506.0  41522.0  33063.0        NaN   7204.0  497.0    96.0        662
2005  40506.0  41653.0  33178.0        NaN   7223.0  580.0    10.0        662
2006  41172.0  42626.0  32885.0        NaN   8345.0  494.0   206.0        696
2007  41277.0  43112.0  32856.0        2.0   8345.0  492.0   169.0       1250
2008  41000.0  42843.0  32834.0        7.0   8345.0  492.0   209.0        963
2009  40733.0  42889.0  32864.0       18.0   8345.0  492.0   217.0        971
2010  41284.0  42905.0  32830.0       34.0   8401.0  492.0   217.0        965
2011  40700.0  40993.0  31176.0     1282.0   8596.0  411.0   155.0        655
2012  40841.0  42622.0  32531.0      668.0   8685.0  492.0   330.0        584
2013  41274.0  47272.0  37066.0      817.0   9358.0  263.0   545.0         40
2014  42886.0  45041.0  32947.0     1518.0  10723.0  247.0   513.0        611
2015  46444.0  50030.0  32958.0     4060.0  14906.0  890.0  1276.0          -
2016  52007.0  56762.0  31080.0      256.0  23519.0  492.0   601.0       1070
2017  52303.0  55321.0  29558.0     2769.0  24093.0  556.0   482.0        632
2018  54872.0  58133.0  29650.0     3019.0  27001.0  307.0   539.0        636
2019  56090.0  58412.0  29840.0     3301.0  27134.0  291.0   539.0        608
2020  58025.0  59643.0  29587.0     3578.0  28612.0  291.0   539.0        614
2021  59292.0      NaN  29952.0     3925.0  28612.0  291.0   539.0      609.0

     주택보급률 (%)
            소계
2004     102.5
2005     102.8
2006     103.5
2007     104.4
2008     104.5
2009     105.3
2010     103.9
2011     100.7
2012     104.4
2013     114.5
2014     105.0
2015     107.7
2016     109.1
2017     105.8
2018     105.9
2019     104.1
2020     102.8
2021     108.0

In [211]:
# df = df.rename(columns={'세대수 (세대)': '가구수 (가구)'})
# df = df.rename(columns={'다가구주택': '단독주택_다가구주택'})
# df = df.rename(columns={'비거주용건물내주택': '비거주용 건물내주택'})

In [28]:
df = df_su1['2002']
df.index = ['2002']
df_su = df
for i in range(3,8):
    df = df_su1['200'+str(i)]
    df.index = ['200'+str(i)]
    df_su = pd.concat([df_su, df], axis=0)
df_su

     세대수 (세대) 주택수 (호)                                            주택보급률 (%)  \
           소계      소계   단독주택  다가구주택    아파트  연립주택 다세대주택 비거주용건물내주택        소계
2002  50286.0   49394  28887  135.0  16293  1543  2536      1358      98.2
2003  47864.0   48320  25234  186.0  18105  3221  1574      1352     101.0
2004  48548.0   48636  25363  250.0  18121  3229  1673      1379     100.2
2005      NaN   47398  23211    NaN  18571  2539  2269       808     122.0
2006      NaN   52626  23208  875.0  23634  2539  2435       810     135.0
2007      NaN   56374  23057  897.0  27170  2639  2451      1057     144.0

     가구수 (가구)                  보통가구(보급율 산정용) (가구)
         일반가구     1인가구   비혈연가구                 소계
2002      NaN      NaN     NaN                NaN
2003      NaN      NaN     NaN                NaN
2004      NaN      NaN     NaN                NaN
2005  50380.0  10502.0  1107.0            38771.0
2006      NaN      NaN     NaN            38980.0
2007      NaN      NaN     NaN            39161.0

In [29]:
for i in range(8,10):
    df = df_su2['200'+str(i)]
    df.index = ['200'+str(i)]
    df_su = pd.concat([df_su, df], axis=0)
df_su

     세대수 (세대) 주택수 (호)                                             주택보급률 (%)  \
           소계      소계   단독주택   다가구주택    아파트  연립주택 다세대주택 비거주용건물내주택        소계
2002  50286.0   49394  28887   135.0  16293  1543  2536    1358.0      98.2
2003  47864.0   48320  25234   186.0  18105  3221  1574    1352.0     101.0
2004  48548.0   48636  25363   250.0  18121  3229  1673    1379.0     100.2
2005      NaN   47398  23211     NaN  18571  2539  2269     808.0     122.0
2006      NaN   52626  23208   875.0  23634  2539  2435     810.0     135.0
2007      NaN   56374  23057   897.0  27170  2639  2451    1057.0     144.0
2008      NaN   61827  28502  6173.0  27170  2639  2459       NaN     120.0
2009      NaN   62203  28844  6480.0  27170  2639  2483       NaN     120.0

     가구수 (가구)                  보통가구(보급율 산정용) (가구) 일반가구수 (가구)     주택수 (호)
         일반가구     1인가구   비혈연가구                 소계         소계 비거주용건물 내 주택
2002      NaN      NaN     NaN                NaN        NaN         NaN
2003      NaN      NaN     NaN                NaN        NaN         NaN
2004      NaN      NaN     NaN                NaN        NaN         NaN
2005  50380.0  10502.0  1107.0            38771.0        NaN         NaN
2006      NaN      NaN     NaN            38980.0        NaN         NaN
2007      NaN      NaN     NaN            39161.0        NaN         NaN
2008      NaN      NaN     NaN                NaN    51585.0      1057.0
2009      NaN      NaN     NaN                NaN    51945.0      1067.0

In [30]:
for i in range(10,13):
    df = df_su2['20'+str(i)]
    df.index = ['20'+str(i)]
    df_su = pd.concat([df_su, df], axis=0)
df_su

     세대수 (세대) 주택수 (호)                                              주택보급률 (%)  \
           소계      소계   단독주택    다가구주택    아파트  연립주택 다세대주택 비거주용건물내주택        소계
2002  50286.0   49394  28887    135.0  16293  1543  2536    1358.0      98.2
2003  47864.0   48320  25234    186.0  18105  3221  1574    1352.0     101.0
2004  48548.0   48636  25363    250.0  18121  3229  1673    1379.0     100.2
2005      NaN   47398  23211      NaN  18571  2539  2269     808.0     122.0
2006      NaN   52626  23208    875.0  23634  2539  2435     810.0     135.0
2007      NaN   56374  23057    897.0  27170  2639  2451    1057.0     144.0
2008      NaN   61827  28502   6173.0  27170  2639  2459       NaN     120.0
2009      NaN   62203  28844   6480.0  27170  2639  2483       NaN     120.0
2010      NaN   57918  27002   8312.0  25920  2515  1744       NaN      99.4
2011      NaN   65343  20780   9590.0  28345  2764  2058       NaN     108.4
2012      NaN   68506  22197  11622.0  29610  2764  2313       NaN     110.4

     가구수 (가구)                  보통가구(보급율 산정용) (가구) 일반가구수 (가구)     주택수 (호)
         일반가구     1인가구   비혈연가구                 소계         소계 비거주용건물 내 주택
2002      NaN      NaN     NaN                NaN        NaN         NaN
2003      NaN      NaN     NaN                NaN        NaN         NaN
2004      NaN      NaN     NaN                NaN        NaN         NaN
2005  50380.0  10502.0  1107.0            38771.0        NaN         NaN
2006      NaN      NaN     NaN            38980.0        NaN         NaN
2007      NaN      NaN     NaN            39161.0        NaN         NaN
2008      NaN      NaN     NaN                NaN    51585.0      1057.0
2009      NaN      NaN     NaN                NaN    51945.0      1067.0
2010      NaN      NaN     NaN                NaN    58274.0       737.0
2011      NaN      NaN     NaN                NaN    60287.0       581.0
2012      NaN      NaN     NaN                NaN    62068.0         NaN

In [33]:
df = df_su3['2013'].iloc[[1]]
df = df.rename(columns={'일반가구수 (가구)':'세대수 (세대)'})
df = df.rename(columns={'단독주택.1': '다가구주택'})
# df = df.rename(columns={'비거주용건물내주택': '비거주용 건물내주택'})
df

  세대수 (세대) 주택수 (호)                                              주택보급률 (%)
        소계      소계   단독주택  다가구주택    아파트  연립주택 다세대주택 비거주용 건물내 주택        소계
1    63902   71176  34215  12703  30983  2864  2435         679    111.38

In [34]:
df = df_su3['2022'].iloc[[1]]
df = df.rename(columns={'일반가구수 (가구)':'세대수 (세대)'})
df = df.rename(columns={'단독주택.1': '다가구주택'})
# df = df.rename(columns={'비거주용건물내주택': '비거주용 건물내주택'})
df

  세대수 (세대) 주택수 (호)                                             주택보급률 (%)
        소계      소계   단독주택 다가구주택    아파트  연립주택 다세대주택 비거주용 건물내 주택        소계
1    76382   76189  23351  1442  45034  2104  4854         846     99.75

In [36]:
for i in range(13,23):
    df = df_su3['20'+str(i)].iloc[[1]]
    df = df.rename(columns={'일반가구수 (가구)':'세대수 (세대)'})
    df = df.rename(columns={'단독주택.1': '다가구주택'})
    df.index = ['20'+str(i)]
    df_su = pd.concat([df_su, df], axis=0)
df_su

     세대수 (세대) 주택수 (호)                                              주택보급률 (%)  \
           소계      소계   단독주택    다가구주택    아파트  연립주택 다세대주택 비거주용건물내주택        소계
2002  50286.0   49394  28887    135.0  16293  1543  2536    1358.0      98.2
2003  47864.0   48320  25234    186.0  18105  3221  1574    1352.0     101.0
2004  48548.0   48636  25363    250.0  18121  3229  1673    1379.0     100.2
2005      NaN   47398  23211      NaN  18571  2539  2269     808.0     122.0
2006      NaN   52626  23208    875.0  23634  2539  2435     810.0     135.0
2007      NaN   56374  23057    897.0  27170  2639  2451    1057.0     144.0
2008      NaN   61827  28502   6173.0  27170  2639  2459       NaN     120.0
2009      NaN   62203  28844   6480.0  27170  2639  2483       NaN     120.0
2010      NaN   57918  27002   8312.0  25920  2515  1744       NaN      99.4
2011      NaN   65343  20780   9590.0  28345  2764  2058       NaN     108.4
2012      NaN   68506  22197  11622.0  29610  2764  2313       NaN     110.4
2013    63902   71176  34215    12703  30983  2864  2435       NaN    111.38
2014    65135   72722  35493    13641  31025  2888  2594       NaN    111.65
2015    63431   75347  36557    14728  31844  2024  4161       NaN    118.79
2016    70991   79906  39799    16137  32652  2067  4496       NaN    112.56
2017    72469   81923  38536    16653  35629  2009  4514       NaN    113.05
2018    75091   88761  39673    17418  41356  1886  4583       NaN    118.20
2019    76748   90434  40491    17693  42168  1886  4602       NaN    117.83
2020    72765   73069  23270     1445  42092  2097  4779       NaN    100.42
2021    75485   75088  23264     1442  44139  2065  4783       NaN     99.47
2022    76382   76189  23351     1442  45034  2104  4854       NaN     99.75

     가구수 (가구)                  보통가구(보급율 산정용) (가구) 일반가구수 (가구)     주택수 (호)  \
         일반가구     1인가구   비혈연가구                 소계         소계 비거주용건물 내 주택
2002      NaN      NaN     NaN                NaN        NaN         NaN
2003      NaN      NaN     NaN                NaN        NaN         NaN
2004      NaN      NaN     NaN                NaN        NaN         NaN
2005  50380.0  10502.0  1107.0            38771.0        NaN         NaN
2006      NaN      NaN     NaN            38980.0        NaN         NaN
2007      NaN      NaN     NaN            39161.0        NaN         NaN
2008      NaN      NaN     NaN                NaN    51585.0      1057.0
2009      NaN      NaN     NaN                NaN    51945.0      1067.0
2010      NaN      NaN     NaN                NaN    58274.0       737.0
2011      NaN      NaN     NaN                NaN    60287.0       581.0
2012      NaN      NaN     NaN                NaN    62068.0         NaN
2013      NaN      NaN     NaN                NaN        NaN         NaN
2014      NaN      NaN     NaN                NaN        NaN         NaN
2015      NaN      NaN     NaN                NaN        NaN         NaN
2016      NaN      NaN     NaN                NaN        NaN         NaN
2017      NaN      NaN     NaN                NaN        NaN         NaN
2018      NaN      NaN     NaN                NaN        NaN         NaN
2019      NaN      NaN     NaN                NaN        NaN         NaN
2020      NaN      NaN     NaN                NaN        NaN         NaN
2021      NaN      NaN     NaN                NaN        NaN         NaN
2022      NaN      NaN     NaN                NaN        NaN         NaN


     비거주용 건물내 주택
2002         NaN
2003         NaN
2004         NaN
2005         NaN
2006         NaN
2007         NaN
2008         NaN
2009         NaN
2010         NaN
2011         NaN
2012         NaN
2013         679
2014         722
2015         761
2016         892
2017        1235
2018        1263
2019        1287
2020         831
2021         837
2022         846

In [64]:
df = df_chu1['2003']
df.index = ['2003']
df_chu = df
for i in range(3,10):
    df = df_chu1['200'+str(i)]
    df.index = ['200'+str(i)]
    df_chu = pd.concat([df_chu, df], axis=0)
df_chu

     일반가구수(A) (가구) 주택수(B) (호) 단독주택 (호)        아파트 (호) 연립주택 (호) 다세대주택 (호)  \
                소계         소계       소계  다가구주택      소계       소계        소계
2003         69066      66622    32075    285   30493     3882       172
2003         69066      66622    32075    285   30493     3882       172
2004         72769      68025    32741   3605   30890     3882       512
2005         53866      66104    30575   2070   31811     3406       312
2006         53462      74832    37441  10068   32591     3454       382
2007         52716      70475    29568  10555   35820     3700       423
2008         70037      80743    38577  11095   37005     3742       455
2009         69669      81277    39096  70042   37013     3742       462

     비거주용건물내주택 (호) 주택보급률(B)/(A)*100 (%)
                소계                   소계
2003             -                 96.0
2003             -                 96.0
2004             -                 93.0
2005             -                123.0
2006           964                140.0
2007           964                134.0
2008           964                115.2
2009           964                117.0

In [65]:
for i in range(10,21):
    df = df_chu1['20'+str(i)]
    df.index = ['20'+str(i)]
    df_chu = pd.concat([df_chu, df], axis=0)
df_chu

     일반가구수(A) (가구) 주택수(B) (호) 단독주택 (호)        아파트 (호) 연립주택 (호) 다세대주택 (호)  \
                소계         소계       소계  다가구주택      소계       소계        소계
2003         69066      66622    32075    285   30493     3882       172
2003         69066      66622    32075    285   30493     3882       172
2004         72769      68025    32741   3605   30890     3882       512
2005         53866      66104    30575   2070   31811     3406       312
2006         53462      74832    37441  10068   32591     3454       382
2007         52716      70475    29568  10555   35820     3700       423
2008         70037      80743    38577  11095   37005     3742       455
2009         69669      81277    39096  70042   37013     3742       462
2010         77015      81806    38901   2155   38064     3661       490
2011         78443      84145    41459  13916   38118     3673       895
2012         79689      86634    42972  15218   38206     3713      1743
2013         80954      88692    44334  16475   38225     3729      2404
2014         82239      91582    45357  17292   39448     3693      3084
2015         83585      91922    43270  16602   39908     2772      4471
2016         85152      94798    44185  17229   41652     2772      4682
2017         86367      96889    44909  17917   42806     2785      4867
2018         88711     103581    45362  18285   48981     2810      4881
2019         90191     108381    46247  19168   52629     3028      4903
2020         93082     109721    42990  19237   53732     3028      4963

     비거주용건물내주택 (호) 주택보급률(B)/(A)*100 (%)
                소계                   소계
2003             -                 96.0
2003             -                 96.0
2004             -                 93.0
2005             -                123.0
2006           964                140.0
2007           964                134.0
2008           964                115.2
2009           964                117.0
2010           690                106.2
2011             0                107.3
2012           NaN                108.7
2013           NaN                109.6
2014           NaN                111.4
2015          1501                110.0
2016          1507                111.3
2017          1522                112.2
2018          1547                116.8
2019          1574                120.2
2020          5008                117.9

In [48]:
df_chu2 = df_chu2.T
df_chu2

          0       1      2      3      4     5     6     7    8
2019  90191  108381  46247  19168  52629  3028  4903  1574  120
2020  93082  109721  42990  19237  53732  3028  4963  5008  118
2021  95350  110531  46552  19439  54313  3027  5012  1627  116

In [49]:
df_chu2 = df_chu2.iloc[-3:]
df_chu2

          0       1      2      3      4     5     6     7    8
2019  90191  108381  46247  19168  52629  3028  4903  1574  120
2020  93082  109721  42990  19237  53732  3028  4963  5008  118
2021  95350  110531  46552  19439  54313  3027  5012  1627  116

In [69]:
df = df_chu2.iloc[[-1]]
df.columns = df_chu.columns
df

     일반가구수(A) (가구) 주택수(B) (호) 단독주택 (호)        아파트 (호) 연립주택 (호) 다세대주택 (호)  \
                소계         소계       소계  다가구주택      소계       소계        소계
2021         95350     110531    46552  19439   54313     3027      5012

     비거주용건물내주택 (호) 주택보급률(B)/(A)*100 (%)
                소계                   소계
2021          1627                  116

In [70]:
df_chu = pd.concat([df_chu, df], axis=0)
df_chu

     일반가구수(A) (가구) 주택수(B) (호) 단독주택 (호)        아파트 (호) 연립주택 (호) 다세대주택 (호)  \
                소계         소계       소계  다가구주택      소계       소계        소계
2003         69066      66622    32075    285   30493     3882       172
2003         69066      66622    32075    285   30493     3882       172
2004         72769      68025    32741   3605   30890     3882       512
2005         53866      66104    30575   2070   31811     3406       312
2006         53462      74832    37441  10068   32591     3454       382
2007         52716      70475    29568  10555   35820     3700       423
2008         70037      80743    38577  11095   37005     3742       455
2009         69669      81277    39096  70042   37013     3742       462
2010         77015      81806    38901   2155   38064     3661       490
2011         78443      84145    41459  13916   38118     3673       895
2012         79689      86634    42972  15218   38206     3713      1743
2013         80954      88692    44334  16475   38225     3729      2404
2014         82239      91582    45357  17292   39448     3693      3084
2015         83585      91922    43270  16602   39908     2772      4471
2016         85152      94798    44185  17229   41652     2772      4682
2017         86367      96889    44909  17917   42806     2785      4867
2018         88711     103581    45362  18285   48981     2810      4881
2019         90191     108381    46247  19168   52629     3028      4903
2020         93082     109721    42990  19237   53732     3028      4963
2021         95350     110531    46552  19439   54313     3027      5012

     비거주용건물내주택 (호) 주택보급률(B)/(A)*100 (%)
                소계                   소계
2003             -                 96.0
2003             -                 96.0
2004             -                 93.0
2005             -                123.0
2006           964                140.0
2007           964                134.0
2008           964                115.2
2009           964                117.0
2010           690                106.2
2011             0                107.3
2012           NaN                108.7
2013           NaN                109.6
2014           NaN                111.4
2015          1501                110.0
2016          1507                111.3
2017          1522                112.2
2018          1547                116.8
2019          1574                120.2
2020          5008                117.9
2021          1627                  116

#### 4. 세 지역의 주택보급률을 하나의 데이터프레임으로 통합하기

In [71]:
df_na

     가구수 (가구)  주택수 (호)                                                         \
           소계       소계     단독주택 단독주택_다가구주택      아파트   연립주택   다세대주택 비거주용 건물내주택
2004  40506.0  41522.0  33063.0        NaN   7204.0  497.0    96.0        662
2005  40506.0  41653.0  33178.0        NaN   7223.0  580.0    10.0        662
2006  41172.0  42626.0  32885.0        NaN   8345.0  494.0   206.0        696
2007  41277.0  43112.0  32856.0        2.0   8345.0  492.0   169.0       1250
2008  41000.0  42843.0  32834.0        7.0   8345.0  492.0   209.0        963
2009  40733.0  42889.0  32864.0       18.0   8345.0  492.0   217.0        971
2010  41284.0  42905.0  32830.0       34.0   8401.0  492.0   217.0        965
2011  40700.0  40993.0  31176.0     1282.0   8596.0  411.0   155.0        655
2012  40841.0  42622.0  32531.0      668.0   8685.0  492.0   330.0        584
2013  41274.0  47272.0  37066.0      817.0   9358.0  263.0   545.0         40
2014  42886.0  45041.0  32947.0     1518.0  10723.0  247.0   513.0        611
2015  46444.0  50030.0  32958.0     4060.0  14906.0  890.0  1276.0          -
2016  52007.0  56762.0  31080.0      256.0  23519.0  492.0   601.0       1070
2017  52303.0  55321.0  29558.0     2769.0  24093.0  556.0   482.0        632
2018  54872.0  58133.0  29650.0     3019.0  27001.0  307.0   539.0        636
2019  56090.0  58412.0  29840.0     3301.0  27134.0  291.0   539.0        608
2020  58025.0  59643.0  29587.0     3578.0  28612.0  291.0   539.0        614
2021  59292.0      NaN  29952.0     3925.0  28612.0  291.0   539.0      609.0

     주택보급률 (%)
            소계
2004     102.5
2005     102.8
2006     103.5
2007     104.4
2008     104.5
2009     105.3
2010     103.9
2011     100.7
2012     104.4
2013     114.5
2014     105.0
2015     107.7
2016     109.1
2017     105.8
2018     105.9
2019     104.1
2020     102.8
2021     108.0

In [79]:
cols_to_delete = df_su.iloc[:, 9:]
df_su.drop(cols_to_delete, axis=1, inplace=True)
df_su

     세대수 (세대) 주택수 (호)                                              주택보급률 (%)
           소계      소계   단독주택    다가구주택    아파트  연립주택 다세대주택 비거주용건물내주택        소계
2002  50286.0   49394  28887    135.0  16293  1543  2536    1358.0      98.2
2003  47864.0   48320  25234    186.0  18105  3221  1574    1352.0     101.0
2004  48548.0   48636  25363    250.0  18121  3229  1673    1379.0     100.2
2005      NaN   47398  23211      NaN  18571  2539  2269     808.0     122.0
2006      NaN   52626  23208    875.0  23634  2539  2435     810.0     135.0
2007      NaN   56374  23057    897.0  27170  2639  2451    1057.0     144.0
2008      NaN   61827  28502   6173.0  27170  2639  2459       NaN     120.0
2009      NaN   62203  28844   6480.0  27170  2639  2483       NaN     120.0
2010      NaN   57918  27002   8312.0  25920  2515  1744       NaN      99.4
2011      NaN   65343  20780   9590.0  28345  2764  2058       NaN     108.4
2012      NaN   68506  22197  11622.0  29610  2764  2313       NaN     110.4
2013    63902   71176  34215    12703  30983  2864  2435       NaN    111.38
2014    65135   72722  35493    13641  31025  2888  2594       NaN    111.65
2015    63431   75347  36557    14728  31844  2024  4161       NaN    118.79
2016    70991   79906  39799    16137  32652  2067  4496       NaN    112.56
2017    72469   81923  38536    16653  35629  2009  4514       NaN    113.05
2018    75091   88761  39673    17418  41356  1886  4583       NaN    118.20
2019    76748   90434  40491    17693  42168  1886  4602       NaN    117.83
2020    72765   73069  23270     1445  42092  2097  4779       NaN    100.42
2021    75485   75088  23264     1442  44139  2065  4783       NaN     99.47
2022    76382   76189  23351     1442  45034  2104  4854       NaN     99.75

In [90]:
df_su = df_su.rename(columns={'세대수 (세대)': '가구수 (가구)'})
df_su = df_su.rename(columns={'다가구주택': '단독주택_다가구주택'})

In [93]:
df_su

     가구수 (가구) 주택수 (호)                                                주택보급률 (%)
           소계      소계   단독주택 단독주택_다가구주택    아파트  연립주택 다세대주택 비거주용건물내주택        소계
2002  50286.0   49394  28887      135.0  16293  1543  2536    1358.0      98.2
2003  47864.0   48320  25234      186.0  18105  3221  1574    1352.0     101.0
2004  48548.0   48636  25363      250.0  18121  3229  1673    1379.0     100.2
2005      NaN   47398  23211        NaN  18571  2539  2269     808.0     122.0
2006      NaN   52626  23208      875.0  23634  2539  2435     810.0     135.0
2007      NaN   56374  23057      897.0  27170  2639  2451    1057.0     144.0
2008      NaN   61827  28502     6173.0  27170  2639  2459       NaN     120.0
2009      NaN   62203  28844     6480.0  27170  2639  2483       NaN     120.0
2010      NaN   57918  27002     8312.0  25920  2515  1744       NaN      99.4
2011      NaN   65343  20780     9590.0  28345  2764  2058       NaN     108.4
2012      NaN   68506  22197    11622.0  29610  2764  2313       NaN     110.4
2013    63902   71176  34215      12703  30983  2864  2435       NaN    111.38
2014    65135   72722  35493      13641  31025  2888  2594       NaN    111.65
2015    63431   75347  36557      14728  31844  2024  4161       NaN    118.79
2016    70991   79906  39799      16137  32652  2067  4496       NaN    112.56
2017    72469   81923  38536      16653  35629  2009  4514       NaN    113.05
2018    75091   88761  39673      17418  41356  1886  4583       NaN    118.20
2019    76748   90434  40491      17693  42168  1886  4602       NaN    117.83
2020    72765   73069  23270       1445  42092  2097  4779       NaN    100.42
2021    75485   75088  23264       1442  44139  2065  4783       NaN     99.47
2022    76382   76189  23351       1442  45034  2104  4854       NaN     99.75

In [114]:
df_na.columns

MultiIndex([( '가구수 (가구)',         '소계'),
            (  '주택수 (호)',         '소계'),
            (  '주택수 (호)',       '단독주택'),
            (  '주택수 (호)', '단독주택_다가구주택'),
            (  '주택수 (호)',        '아파트'),
            (  '주택수 (호)',       '연립주택'),
            (  '주택수 (호)',      '다세대주택'),
            (  '주택수 (호)', '비거주용 건물내주택'),
            ('주택보급률 (%)',         '소계')],
           )

In [115]:
df_su.columns = df_na.columns

In [116]:
df_chu.columns = df_su.columns

In [98]:
df_chu

     가구수 (가구) 주택수 (호)                                                주택보급률 (%)
           소계      소계   단독주택 단독주택_다가구주택    아파트  연립주택 다세대주택 비거주용건물내주택        소계
2003    69066   66622  32075        285  30493  3882   172         -      96.0
2003    69066   66622  32075        285  30493  3882   172         -      96.0
2004    72769   68025  32741       3605  30890  3882   512         -      93.0
2005    53866   66104  30575       2070  31811  3406   312         -     123.0
2006    53462   74832  37441      10068  32591  3454   382       964     140.0
2007    52716   70475  29568      10555  35820  3700   423       964     134.0
2008    70037   80743  38577      11095  37005  3742   455       964     115.2
2009    69669   81277  39096      70042  37013  3742   462       964     117.0
2010    77015   81806  38901       2155  38064  3661   490       690     106.2
2011    78443   84145  41459      13916  38118  3673   895         0     107.3
2012    79689   86634  42972      15218  38206  3713  1743       NaN     108.7
2013    80954   88692  44334      16475  38225  3729  2404       NaN     109.6
2014    82239   91582  45357      17292  39448  3693  3084       NaN     111.4
2015    83585   91922  43270      16602  39908  2772  4471      1501     110.0
2016    85152   94798  44185      17229  41652  2772  4682      1507     111.3
2017    86367   96889  44909      17917  42806  2785  4867      1522     112.2
2018    88711  103581  45362      18285  48981  2810  4881      1547     116.8
2019    90191  108381  46247      19168  52629  3028  4903      1574     120.2
2020    93082  109721  42990      19237  53732  3028  4963      5008     117.9
2021    95350  110531  46552      19439  54313  3027  5012      1627       116

In [117]:
df_house = pd.concat([df_na, df_su, df_chu], keys=['나주시', '서산시', '충주시'])
df_house

         가구수 (가구)  주택수 (호)                                              \
               소계       소계     단독주택 단독주택_다가구주택      아파트   연립주택   다세대주택
나주시 2004  40506.0  41522.0  33063.0        NaN   7204.0  497.0    96.0
    2005  40506.0  41653.0  33178.0        NaN   7223.0  580.0    10.0
    2006  41172.0  42626.0  32885.0        NaN   8345.0  494.0   206.0
    2007  41277.0  43112.0  32856.0        2.0   8345.0  492.0   169.0
    2008  41000.0  42843.0  32834.0        7.0   8345.0  492.0   209.0
    2009  40733.0  42889.0  32864.0       18.0   8345.0  492.0   217.0
    2010  41284.0  42905.0  32830.0       34.0   8401.0  492.0   217.0
    2011  40700.0  40993.0  31176.0     1282.0   8596.0  411.0   155.0
    2012  40841.0  42622.0  32531.0      668.0   8685.0  492.0   330.0
    2013  41274.0  47272.0  37066.0      817.0   9358.0  263.0   545.0
    2014  42886.0  45041.0  32947.0     1518.0  10723.0  247.0   513.0
    2015  46444.0  50030.0  32958.0     4060.0  14906.0  890.0  1276.0
    2016  52007.0  56762.0  31080.0      256.0  23519.0  492.0   601.0
    2017  52303.0  55321.0  29558.0     2769.0  24093.0  556.0   482.0
    2018  54872.0  58133.0  29650.0     3019.0  27001.0  307.0   539.0
    2019  56090.0  58412.0  29840.0     3301.0  27134.0  291.0   539.0
    2020  58025.0  59643.0  29587.0     3578.0  28612.0  291.0   539.0
    2021  59292.0      NaN  29952.0     3925.0  28612.0  291.0   539.0
서산시 2002  50286.0    49394    28887      135.0    16293   1543    2536
    2003  47864.0    48320    25234      186.0    18105   3221    1574
    2004  48548.0    48636    25363      250.0    18121   3229    1673
    2005      NaN    47398    23211        NaN    18571   2539    2269
    2006      NaN    52626    23208      875.0    23634   2539    2435
    2007      NaN    56374    23057      897.0    27170   2639    2451
    2008      NaN    61827    28502     6173.0    27170   2639    2459
    2009      NaN    62203    28844     6480.0    27170   2639    2483
    2010      NaN    57918    27002     8312.0    25920   2515    1744
    2011      NaN    65343    20780     9590.0    28345   2764    2058
    2012      NaN    68506    22197    11622.0    29610   2764    2313
    2013    63902    71176    34215      12703    30983   2864    2435
    2014    65135    72722    35493      13641    31025   2888    2594
    2015    63431    75347    36557      14728    31844   2024    4161
    2016    70991    79906    39799      16137    32652   2067    4496
    2017    72469    81923    38536      16653    35629   2009    4514
    2018    75091    88761    39673      17418    41356   1886    4583
    2019    76748    90434    40491      17693    42168   1886    4602
    2020    72765    73069    23270       1445    42092   2097    4779
    2021    75485    75088    23264       1442    44139   2065    4783
    2022    76382    76189    23351       1442    45034   2104    4854
충주시 2003    69066    66622    32075        285    30493   3882     172
    2003    69066    66622    32075        285    30493   3882     172
    2004    72769    68025    32741       3605    30890   3882     512
    2005    53866    66104    30575       2070    31811   3406     312
    2006    53462    74832    37441      10068    32591   3454     382
    2007    52716    70475    29568      10555    35820   3700     423
    2008    70037    80743    38577      11095    37005   3742     455
    2009    69669    81277    39096      70042    37013   3742     462
    2010    77015    81806    38901       2155    38064   3661     490
    2011    78443    84145    41459      13916    38118   3673     895
    2012    79689    86634    42972      15218    38206   3713    1743
    2013    80954    88692    44334      16475    38225   3729    2404
    2014    82239    91582    45357      17292    39448   3693    3084
    2015    83585    91922    43270      16602    39908   2772    4471
    2016    85152    94798    44185      17229    41652   2772    4682
    2017    86367    96889    44909      17917    42806   2785    4867
    2018    88711   103581    45362      18285    48981   2810    4881
    2019    90191   108381    46247      19168    52629   3028    4903
    2020    93082   109721    42990      19237    53732   3028    4963
    2021    95350   110531    46552      19439    54313   3027    5012

                    주택보급률 (%)
         비거주용 건물내주택        소계
나주시 2004        662     102.5
    2005        662     102.8
    2006        696     103.5
    2007       1250     104.4
    2008        963     104.5
    2009        971     105.3
    2010        965     103.9
    2011        655     100.7
    2012        584     104.4
    2013         40     114.5
    2014        611     105.0
    2015          -     107.7
    2016       1070     109.1
    2017        632     105.8
    2018        636     105.9
    2019        608     104.1
    2020        614     102.8
    2021      609.0     108.0
서산시 2002     1358.0      98.2
    2003     1352.0     101.0
    2004     1379.0     100.2
    2005      808.0     122.0
    2006      810.0     135.0
    2007     1057.0     144.0
    2008        NaN     120.0
    2009        NaN     120.0
    2010        NaN      99.4
    2011        NaN     108.4
    2012        NaN     110.4
    2013        NaN    111.38
    2014        NaN    111.65
    2015        NaN    118.79
    2016        NaN    112.56
    2017        NaN    113.05
    2018        NaN    118.20
    2019        NaN    117.83
    2020        NaN    100.42
    2021        NaN     99.47
    2022        NaN     99.75
충주시 2003          -      96.0
    2003          -      96.0
    2004          -      93.0
    2005          -     123.0
    2006        964     140.0
    2007        964     134.0
    2008        964     115.2
    2009        964     117.0
    2010        690     106.2
    2011          0     107.3
    2012        NaN     108.7
    2013        NaN     109.6
    2014        NaN     111.4
    2015       1501     110.0
    2016       1507     111.3
    2017       1522     112.2
    2018       1547     116.8
    2019       1574     120.2
    2020       5008     117.9
    2021       1627       116

#### 5. 지역별 데이터프레임과 통합한 데이터프레임을 각각 csv 파일로 저장하기

In [110]:
df_na.to_csv('data/house/나주시.csv')

In [111]:
df_su.to_csv('data/house/서산시.csv')

In [112]:
df_chu.to_csv('data/house/충주시.csv')

In [118]:
df_house.to_csv('data/house/나주서산충주주택현황및보급률.csv')

---

----